@model Odyssey.Domain.Entities.OperatingCompany

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>OperatingCompany</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OperatingCompanyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OperatingCompanyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OperatingCompanyDetails)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OperatingCompanyDetails)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OperatingCompanyId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
