@model Odyssey.Domain.Entities.Journey

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Journey</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Destination.LocationName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Destination.LocationName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OperatingCompany.OperatingCompanyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OperatingCompany.OperatingCompanyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Origin.LocationName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Origin.LocationName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDateAndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDateAndTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDateAndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDateAndTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OtherDetails)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OtherDetails)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.JourneyId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
